<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
</head>

<body>
  {% if latest_question_list %}
  <ul>
    {% for question in latest_question_list %}
    <li><a href="/polls/{{ question.id }}">{{ question.question_text }}</a></li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No polls are available.</p>
  {% endif %}
  
  {% if list_question %}
  <hr>
  <h1>List Question</h1>
  <ul>
    {% for data in list_question %}
    li><a href="/polls/{{ data.id }}">{{ data.question_text }}</a>
    {% endfor %}
  </ul>
  {% else %}
  <p>Belum ada pertanyaan</p>
  {% endif %}
</body>

</html>